# --- Python / Backend ---
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.env
.pytest_cache/
app.db

# --- React / Frontend ---
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
package-lock.json

# --- IDE / System ---
.vscode/
.idea/
.DS_Store
*.log
Thumbs.db